@import '../../../core/styles.scss';

.#{$root-element} {
  --fall-animation-duration: 700ms;

  &--moveRight,
  &--moveLeft {
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
    animation: scaleUp calc(var(--fall-animation-duration) / 2) ease-out both;
  }

  &--exit {
    z-index: 100;
    opacity: 1;

    &.#{$root-element}--moveLeft {
      opacity: 1;
      transform-origin: 0% 0%;
      transform: translate3d(0, 0, 0);
      animation: rotateFallRight var(--fall-animation-duration) both ease-in;
    }

    &.#{$root-element}--moveRight {
      opacity: 1;
      transform: translate3d(0, 0, 0);
      transform-origin: 100% 0%;
      animation: rotateFallLeft var(--fall-animation-duration) both ease-in;
    }
  }
}

@keyframes scaleUp {
  0% {
    opacity: 0.75;
    transform: scale(0.9);
  }
  75% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes rotateFallRight {
  0% {
    transform: rotateZ(0deg);
    animation-timing-function: ease-in;
  }
  20% {
    transform: rotateZ(8deg);
    animation-timing-function: ease-out;
  }
  40% {
    transform: rotateZ(16deg);
  }
  60% {
    transform: rotateZ(14deg);
  }
  100% {
    transform: translateY(100%) rotateZ(30deg);
  }
}

@keyframes rotateFallLeft {
  0% {
    transform: rotateZ(-0deg);
  }
  20% {
    transform: rotateZ(-10deg);
    animation-timing-function: ease-out;
  }
  40% {
    transform: rotateZ(-14deg);
  }
  60% {
    transform: rotateZ(-12deg);
  }
  100% {
    transform: translateY(100%) rotateZ(-30deg);
  }
}
