@import '../../../core/styles.scss';

.#{$root-element} {
  animation-delay: 1000ms;
  transition-delay: 1000ms;

  &__container {
    perspective: 600px;
  }

  &--moveRight {
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
    animation: pushRight var(--slider-transition-duration) both
      var(--transition-bezier) 30ms;
  }

  &--moveLeft {
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
    animation: pushLeft var(--slider-transition-duration) both
      var(--transition-bezier) 30ms;
  }

  &--exit {
    &.#{$root-element}--moveLeft {
      transform-origin: 0% 50%;
      transform: translate3d(0, 0, 0);
      animation: rotateRightSideFirst var(--slider-transition-duration) both
        ease-out;
    }
    &.#{$root-element}--moveRight {
      transform-origin: 100% 50%;
      transform: translate3d(0, 0, 0);
      animation: rotateLeftSideFirst var(--slider-transition-duration) both
        ease-out;
    }
  }
}

@keyframes pushRight {
  from {
    transform: translate3d(100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes pushLeft {
  from {
    transform: translate3d(-100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes rotateLeftSideFirst {
  0% {
  }
  40% {
    transform: rotateY(-8deg);
    opacity: 0.9;
    animation-timing-function: linear;
  }
  100% {
    // transform: scale(0.9) translateZ(-125px) rotateY(0deg);
    // opacity: 0.2;
  }
}

@keyframes rotateRightSideFirst {
  0% {
  }
  40% {
    transform: rotateY(8deg);
    opacity: 0.9;
    animation-timing-function: linear;
  }
  100% {
    // transform: scale(0.9) translateZ(-125px) rotateY(0deg);
    // opacity: 0.2;
  }
}
