.startup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #20232a;
  z-index: 1001;

  .logo-container {
    --size: 164px;
  }
}
