.timer {
  --timer-delay: 2000ms;
  --timer-release: 200ms;
  --timer-height: 4px;
  --timer-background-color: rgba(0, 0, 0, 0.15);

  width: 100%;
  height: var(--timer-height);
  background-color: var(--timer-background-color);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  transform: translateX(-100%);

  &.animated {
    will-change: transform;
    transition: transform var(--timer-delay) linear;
  }

  &.run {
    transform: translateX(0);
  }

  &.fast {
    transition: transform calc(var(--timer-release) / 2) linear;
    transform: translateX(-0.00001px);
  }

  &.end {
    transform: translateX(-0.0001px);
    transition: transform var(--timer-release) linear;
  }

  &.hidden {
    display: none;
  }
}
