@import '../../../core/styles.scss';

.#{$root-element} {
  &--exit {
    &.#{$root-element}--moveRight,
    &.#{$root-element}--moveLeft {
      transform: translate3d(0, 0, 0);
      animation: scaleOut var(--slider-transition-duration) both
        var(--transition-bezier);
    }
  }
}

@keyframes scaleOut {
  to {
    transform: scale(0.85);
  }
}
