$root-element: 'awssld' !default;
$cos45: 0.7071 !default;
$transition-bezier: cubic-bezier(0.5, 0.075, 0.25, 0.95) !default;
$slider-height-percentage: 60% !default;
$slider-transition-duration: 575ms !default;

$organic-arrow-color: #6a6a6a !default;
$organic-arrow-thickness: 4px !default;
$organic-arrow-height: 40px !default;
$organic-arrow-border-radius: 0 !default;
$control-button-width: 10% !default;
$control-button-height: 25% !default;
$control-button-opacity: 0.5 !default;
$control-button-hover-opacity: 0.75 !default;
$control-button-background: transparent !default;
$loader-bar-color: #851515 !default;
$loader-bar-height: 6px !default;
$control-bullet-color: #6a6a6a !default;
$control-bullet-active-color: #6a6a6a !default;
$content-background-color: #2f2f2f !default;
