.container {
  position: relative;
}

.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.controls {
  position: absolute;
  bottom: 15px;
  text-align: center;
  left: 0;
  z-index: 100;
  width: 100%;

  button {
    border: none;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.25);
    height: 36px;
    line-height: 36px;
    width: 140px;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    outline-color: 0;
    outline-style: none;
    outline-width: 0;
    transition: background 150ms ease-out, color 150ms ease-out;

    &:hover {
      background: rgba(0, 0, 0, 0.4);
      color: rgba(255, 255, 255, 1);
    }
  }
}
