@import '../../../core/styles.scss';

.#{$root-element} {
  --cube-animation-duration: 675ms;
  --cube-animation-perspective: 1800px;
  --cube-animation-ease-in: cubic-bezier(0.8, 0, 1, 0.8);
  --cube-animation-ease-out: cubic-bezier(0, 0.2, 0.2, 1);
  --cube-translateZ-distance: -225px;

  &__container {
    perspective: var(--cube-animation-perspective);
  }

  &--moveRight {
    backface-visibility: hidden;
    transform-origin: 0% 50%;
    transform: translate3d(0, 0, 0);
    animation: rotateCubeLeftIn var(--cube-animation-duration) both
      var(--cube-animation-ease-in);
  }

  &--moveLeft {
    backface-visibility: hidden;
    transform-origin: 100% 50%;
    transform: translate3d(0, 0, 0);
    animation: rotateCubeRightIn var(--cube-animation-duration) both
      var(--cube-animation-ease-in);
  }

  &--exit {
    &.#{$root-element}--moveLeft {
      transform-origin: 100% 50%;
      animation: rotateCubeLeftOut var(--cube-animation-duration) both
        var(--cube-animation-ease-in);
      transform: translate3d(0, 0, 0);
    }
    &.#{$root-element}--moveRight {
      transform-origin: 0% 50%;
      animation: rotateCubeRightOut var(--cube-animation-duration) both
        var(--cube-animation-ease-in);
    }
  }
}

@keyframes rotateCubeLeftOut {
  50% {
    animation-timing-function: var(--cube-animation-ease-out);
    transform: translateX(-50%) translateZ(var(--cube-translateZ-distance))
      rotateY(-45deg);
  }
  100% {
    transform: translateX(-100%) rotateY(-90deg);
  }
}

@keyframes rotateCubeRightOut {
  50% {
    animation-timing-function: var(--cube-animation-ease-out);
    transform: translateX(50%) translateZ(var(--cube-translateZ-distance))
      rotateY(45deg);
  }
  100% {
    transform: translateX(100%) rotateY(90deg);
  }
}

@keyframes rotateCubeLeftIn {
  0% {
    transform: translateX(100%) rotateY(90deg);
  }
  50% {
    animation-timing-function: var(--cube-animation-ease-out);
    transform: translateX(50%) translateZ(var(--cube-translateZ-distance))
      rotateY(45deg);
  }
}

@keyframes rotateCubeRightIn {
  0% {
    transform: translateX(-100%) rotateY(-90deg);
  }
  50% {
    animation-timing-function: var(--cube-animation-ease-out);
    transform: translateX(-50%) translateZ(var(--cube-translateZ-distance))
      rotateY(-45deg);
  }
}
