.container {
  display: block;
  padding: 0 40px 60px;
  max-width: calc(100% - (500px - var(--customiser-transform)));
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.005);
  transition: width .25s ease-out;
  position: relative;
  z-index: 1;
}

:root {
  --customiser-transform: 0px;

  @media all and (max-width: 980px) {
    --customiser-transform: 500px;
  }
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
}
