.container {
  display: block;
  padding: 0 40px 60px;
  max-width: calc(100% - (500px - var(--customiser-transform)));
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 0.005);
  transition: width .25s ease-out;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;

  @media all and (max-width: 600px) {
    padding: 0 25px 60px;
  }
}

:root {
  --customiser-transform: 0px;

  @media all and (max-width: 980px) {
    --customiser-transform: 500px;
  }
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
}
